<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div>
		<h2>Iniciar Sessi&oacute;n</h2>
		<form method="post" th:action="@{/login}">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
			<div>
			    <label for="password">Password</label>
			    <input type="password" name="password" id="password" placeholder="password"/>
		  	</div>
		  	<div>
				<input type="checkbox" class="form-check-input" name="remember-me" id="remember-me"/>
    			<label class="form-check-label" for="remember-me">Remember-me</label>
			</div>
			<small th:if="${param.error != null}" th:text="'Error de credenciales'"></small>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div>
				<input type="submit" class="btn btn-primary" value="Login"/>
			</div>
		</form>
	</div>
</body>
</html>